# Application
NEXT_PUBLIC_APP_NAME=schoolable_dashboard
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API (Java Spring Boot backend on Render)
NEXT_PUBLIC_API_URL=https://schoolable-backend.onrender.com

# Feature Flags
NEXT_PUBLIC_ENABLE_DEV_TOOLS=true
